# Ignore all target directories
target/

# Ignore all project files from IntelliJ
*.iml
.idea/
atlassian-ide-plugin.xml

# Ignore all project files from Eclipse
.classpath
.project
.settings

# Ignore all project files from NetBeans
/openncp-gateway/nb-configuration.xml
/cda-display-tool/nb-configuration.xml
/cda-display-tool/cdautils/nb-configuration.xml
/default-policy-manager/nb-configuration.xml
/e-sens-non-repudiation/nb-configuration.xml
/audit-manager/nb-configuration.xml
/eadc/nb-configuration.xml
/tsam/nb-configuration.xml
/transformation-manager/nb-configuration.xml
/openncp-common-components/nb-configuration.xml
/configuration-manager/nb-configuration.xml
/consent-manager/nb-configuration.xml
/data-model/nb-configuration.xml
/openatna/nb-configuration.xml
/openncp-portal/nb-configuration.xml
/nb-configuration.xml
/assertion-validator/nb-configuration.xml
/security-manager/nb-configuration.xml
/cda-display-tool/tsamexporter/nb-configuration.xml
/util/nb-configuration.xml
/openncp-web-portal/nb-configuration.xml
/openstork/nb-configuration.xml
/trc-sts-client/nb-configuration.xml
/cda-display-tool/xsltransformer/nb-configuration.xml
/openncp-gazelle-validation/nb-configuration.xml
/openatna/web/nb-configuration.xml
/openncp-gateway/openncp-gateway-frontend/env.local
