<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss.SSSXXX} [%thread] %-5level %logger{36}.%M\(%line\) - %msg%n</pattern>
        </layout>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${catalina.base}/logs/openncp-client-connector.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSSXXX} [%thread] %-5level %logger{36}.%M\(%line\) - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="DB" class="ch.qos.logback.classic.db.DBAppender">
        <connectionSource class="ch.qos.logback.core.db.JNDIConnectionSource">
            <jndiLocation>java:comp/env/jdbc/LOGS</jndiLocation>
        </connectionSource>
    </appender>

    <logger name="org.apache.http.client" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="eu.europa.ec.dynamicdiscovery" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="org.springframework.jdbc.datasource.DataSourceTransactionManager" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="tr.com.srdc.epsos.ws.xca.client" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="DB"/>
    </logger>

    <logger name="tr.com.srdc.epsos.ws.xcpd.client" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="DB"/>
    </logger>

    <logger name="tr.com.srdc.epsos.ws.xdr.client" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="DB"/>
    </logger>

    <logger name="ee.affecto.epsos.ws.handler" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="eu.epsos.pt.ws.client.xdr" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="DB"/>
    </logger>

    <logger name="eu.epsos.pt.cc" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="DB"/>
    </logger>

    <logger name="pt.spms.epsos.utils.logging" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="DB"/>
    </logger>

    <logger name="epsos.ccd.gnomon.auditmanager" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="epsos.ccd.gnomon.auditmanager.ssl" level="INFO" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="epsos.ccd.gnomon.configmanager" level="INFO" additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="DB"/>
    </logger>

    <logger name="eu.epsos.util.net" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="epsos.ccd.posam.tsam.service" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="epsos.ccd.posam.tm.service" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>
    <logger name="eu.epsos.util.EvidenceUtils" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="eu.europa.ec.sante.ehdsi.openncp.configmanager" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
