<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link th:href="@{/resources/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/resources/css/smpeditor.css}" rel="stylesheet">
        <script th:href="@{/resources/vendor/bootstrap/js/bootstrap.min.js}"></script>
        <script th:href="@{/resources/vendor/jquery/js/jquery-3.1.1.min.js}"></script>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-inverse navbar-static-top">
            <div class="container-fluid" th:include="fragments/header::head">
            </div>
            <div class="container">
                <ol class="breadcrumb">
                    <li class="active">Home/SMP Editor/Upload File</li>
                </ol>
            </div>
        </nav><!-- HEADER -->

        <h2 class="marginleft" th:text="#{label.SmpEditor.menu.op4}">Upload SMP file</h2>
        <h3 class="subtitle" th:text="#{label.SmpEditor.op4.subTitle}">Info</h3>


        <div th:if="${synchronizedCountry != null}">
            <h1>Result</h1>
            <ul>
                <li th:each="item : ${synchronizedCountry}" th:text="${item}">Item description here...</li>
            </ul>
        </div>

        <div id="btnformnsf">
            <a href="#" id="abutton" th:href="@{/smpeditor/uploadsmpfile}" class="btn btn-default"
               th:text="#{label.button.back}">Back</a>
            <a href="#" id="abutton" th:href="@{/smpeditor/smpeditor}" class="btn btn-default" th:text="#{label.button.done}">Done</a>
        </div>
    </body>
</html>
