<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%green([%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}]) %cyan([%thread]) %highlight(%-5level) %logger{36}.%M\(%line\) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.hibernate" level="WARN" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="com.mchange" level="WARN" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.springframework" level="WARN" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="eu.epsos.protocolterminators.integrationtest.common.SimpleSoapClient" level="WARN" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
