<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </layout>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${catalina.base}/logs/openncp-web-portal.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Spring Web Service Payload Logging - Uncomment to enable MessageTracing Request/Response-->
    <!--<logger name="org.springframework.ws.client.MessageTracing" level="TRACE" additivity="false">-->
    <!--<appender-ref ref="FILE_CLINICAL"/>-->
    <!--</logger>-->
    <!--<logger name="org.springframework.ws.server.MessageTracing" level="TRACE" additivity="false">-->
    <!--<appender-ref ref="FILE_CLINICAL"/>-->
    <!--</logger>-->
    <!-- End Spring Web Service Logging-->

    <logger name="eu" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="epsos" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="tr" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="fi.kela.se" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="se.sb.epsos.web" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="com.gnomon.xslt" level="INFO" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="epsos.ccd.gnomon.configmanager" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
