<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M\(%line\) - %msg%n</pattern>
        </layout>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${catalina.base}/logs/openncp-openatna.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M\(%line\) - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE_CLINICAL" class="ch.qos.logback.core.FileAppender">
        <file>${catalina.base}/logs/openncp-openatna-clinical.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%class{0}.%M\(%line\) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="LOGGER_CLINICAL" level="DEBUG" additivity="false">
        <appender-ref ref="FILE_CLINICAL"/>
    </logger>

    <!-- Spring Web Service Payload Logging - Uncomment to enable MessageTracing Request/Response-->
    <!--<logger name="org.springframework.ws.client.MessageTracing" level="TRACE" additivity="false">-->
    <!--<appender-ref ref="FILE_CLINICAL"/>-->
    <!--</logger>-->
    <!--<logger name="org.springframework.ws.server.MessageTracing" level="TRACE" additivity="false">-->
    <!--<appender-ref ref="FILE_CLINICAL"/>-->
    <!--</logger>-->
    <!-- End Spring Web Service Logging-->

    <logger name="org.openhealthtools.openatna" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="org.openhealthtools.openatna.syslog.mina.tls.SyslogProtocolHandler" level="INFO" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="org.openhealthtools.openatna" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="org.openhealthtools.openexchange" level="INFO" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="com.misyshealthcare.connect" level="WARN" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="org.apache" level="WARN" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="org.hibernate" level="INFO" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="org.hibernate.SQL" level="WARN" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="net.sf.ehcache" level="ERROR" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="org.jboss.axis" level="INFO" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="org.jboss.management" level="INFO" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="LOGGER_CLINICAL"/>
    </root>
</configuration>
