<?xml version="1.0" encoding="UTF-8"?>
<root xmlns:cda="urn:hl7-org:v3" xmlns:proxy="com:spirit:SpiritProxy"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      columnDelimiterCharacter="," insertNewlinesAfterSqlColumns="false" insertNewlinesAfterSqlStatements="true"
      quoteCharacterForValues="&apos;" statementDelimiterCharacter=";"
      xsi:noNamespaceSchemaLocation="../schema/config.xsd">

    <mainTable tableName="eTransaction">
        <extractionRule matchXPath="/proxy:Transaction/proxy:TransactionInfo">
            <mapping targetColumn="Direction" sourceXPath="@Direction"/>
            <mapping targetColumn="HomeISO" sourceXPath="@HomeISO"/>
            <mapping targetColumn="HomeNCP_OID" sourceXPath="@HomeNCP_OID"/>
            <mapping targetColumn="HomeHCID" sourceXPath="@HomeHCID"/>
            <mapping targetColumn="HomeHost" sourceXPath="@HomeHost"/>
            <mapping targetColumn="HomeAddress" sourceXPath="@HomeAddress"/>
            <mapping targetColumn="SndISO" sourceXPath="@SndISO"/>
            <mapping targetColumn="SndNCP_OID" sourceXPath="@SndNCP_OID"/>
            <mapping targetColumn="SndHCID" sourceXPath="@SndHCID"/>
            <mapping targetColumn="SndAddress" sourceXPath="@SndAddress"/>
            <mapping targetColumn="SndHost" sourceXPath="@SndHost"/>
            <mapping targetColumn="SndMsgID" sourceXPath="@SndMsgID"/>
            <mapping targetColumn="ReceivingISO" sourceXPath="@ReceivingISO"/>
            <mapping targetColumn="ReceivingNCP_OID" sourceXPath="@ReceivingNCP_OID"/>
            <mapping targetColumn="ReceivingHost" sourceXPath="@ReceivingHost"/>
            <mapping targetColumn="ReceivingAddr" sourceXPath="@ReceivingAddr"/>
            <mapping targetColumn="ReceivingMsgID" sourceXPath="@ReceivingMsgID"/>
            <mapping targetColumn="TransactionCounter" sourceXPath="@TransactionCounter"/>
            <mapping targetColumn="HumanRequestor" sourceXPath="@HumanRequestor"/>
            <mapping targetColumn="UserId" sourceXPath="@UserId"/>
            <mapping targetColumn="POC" sourceXPath="@POC"/>
            <mapping targetColumn="POC_ID" sourceXPath="@POC_ID"/>
            <mapping targetColumn="AuthenticationLevel" sourceXPath="@AuthenticationLevel"/>
            <mapping targetColumn="RequestAction" sourceXPath="@RequestAction"/>
            <mapping targetColumn="ResponseAction" sourceXPath="@ResponseAction"/>
            <mapping targetColumn="ServiceType" sourceXPath="@ServiceType"/>
            <mapping targetColumn="ServiceName" sourceXPath="@ServiceName"/>
            <mapping targetColumn="StartTime" sourceXPath="@StartTime"/>
            <mapping targetColumn="EndTime" sourceXPath="@EndTime"/>
            <mapping targetColumn="Duration" sourceXPath="@Duration"/>
        </extractionRule>
    </mainTable>

    <childTable tableName="eTransactionData">
        <!-- Extraction of Patient Information -->
        <group label="PKI Info">
            <control/>
            <content>
                <extractionRule matchXPath="/proxy:Transaction/cda:ClinicalDocument/cda:templateId">
                    <mapping targetColumn="DataType" sourceXPath="/proxy:Transaction/cda:ClinicalDocument/cda:typeId"/>
                    <mapping targetColumn="DataTypeName" sourceXPath="@extension"/>
                    <mapping targetColumn="DataValue" sourceXPath="@root"/>
                    <mapping targetColumn="ValueDisplay" sourceXPath="'TEST DG Sante'"/>
                </extractionRule>
            </content>
        </group>
    </childTable>
</root>
