<div><div>Dear %USERNAME%,<br>
<br>
You have requested a reset of your OpenNCP Gateway Login password. You can do this by following the link below, preferably before a delay of 1 hour from the reception of this message.<br>
<br>
%URL_RESET%<br>
<br>
If you did not make or authorise this request yourself, it may be due to a typing error by another user, in this case you can ignore this message.<br>
<br>
If the above link does not work, you can copy-paste it (without any line break) in your browser address bar.<br>
If this message was delayed or for some other reason you are unable to complete the rest of the process within 1 hour, please return here to make another request.<br>
<br>
If you suspect that someone else is trying to obtain or reset your password, please report this to your local support desk.<br>
<br>
Sent to you by OpenNCP Gateway automated password reset service
</div></div>